/* CSS for the whole file */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Background color for body of page */
body {
    background-color: #d9dcd6;
}
/* Styling for header on the page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* CSS for seo class within header class */
.header .seo {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}
/* Setting font details, and padding/margins for nav 
section of header & list */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* setting color for anchor tags and font size for paragraph tags*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* css for hero image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Where photo within the content section should appear beside text*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Height for images within content-section */
.content-section img {
    max-height: 200px;
}

.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Css styling for all items within benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Different styling (color, aligning text etc) for all items within benefit class*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}


.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* font information and padding/text align for all items within footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
